<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <style>
         .row{
            padding: 5em;
              }
    </style>

</head>
<body>

{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for producto in productos %}
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ producto.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{producto.name}}</h5>
                <p class="card-text"> ${{ producto.price }} </p>
                <a href="#" class="btn btn-primary">Compra</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

</body>
</html>